@import "../../scss/font.css";
@import "../../scss/variables.scss";
@import "../../scss/font.css";
@import "../../scss/variables.scss";

.builder-div {
    .bu-title {
        padding: 10% 0 0 0;
        text-align: left;
        color: $blue;
        font-size: 38px;
        text-align: center;
        font-weight: 400;
    }
    p{
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }
}