@import "../../scss/font.css";
@import "../../scss/variables.scss";
.single-banner {
    .banner-image {
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }   
    .carousel-caption {
        text-align: left;
        top: 2%;
        left: 2%;
        width: 50%;
        right: 0;
        @media only screen and (max-width: $mobile) {
            width: 100%;
            text-align: center;
        }
        h1, h2, h3 {
            color: $blue !important;
            font-size: 52px;
            font-weight: 900;
            span {
                color: $color7;
                font-weight: 400;
            }
            @media only screen and (max-width: $mobile) {
                font-size: 54px;
            }
        }
        p {
            color: $color7;
            @media only screen and (max-width: $mobile) {
                color: $blue;
                font-weight: 700;
            }
        }
        .btn {
            margin-top: 10%;
            //color: $color7;
            background-color: $blue;
            border-color: $blue;
            font-weight: 600;
        }
    }
}
