#sticky-form {
    top: 0;
    background-color: var(--ltn__secondary-color);
    padding: 10px;
    text-align: center;

    .form-field {
        height: 40px !important;
        margin-bottom: 15px;
        width: 90%;
    }

    .form-title {
        color: #ffffff;
        text-align: center;
        line-height: 10px;
        padding-top: 10px;
        font-weight: 600;

        .pname {
            font-size: 26px;
            font-weight: 800;
            line-height: 40px;
        }
    }

    .ltn__widget-title,
    .input-info-save {
        color: #ffffff !important;
    }

    .ltn__widget-title-border-2 {
        border-color: #ffffff !important;
    }

    .theme-btn-5 {
        background-color: #ffffff;
        padding: 10px;
        width: 90%;
    }

    .whatsapp-btn {
        padding: 0px;
        width: 50%;
    }

    .whatsapp-btn:hover {
        background-color: var(--ltn__secondary-color);
    }

}

#property_details {
    .box-shadow-1 {
        padding: 10px;

        li {
            margin-top: 1px !important;
        }
    }

    .enquiry-btn {
        text-align: center;
        padding: 20px;

        .whatsapp-btn {
            background-color: var(--ltn__secondary-color);
            padding: 10px;
            color: #fff;
            font-size: 18px;
            font-weight: 800;

        }
    }

}

.btn-sml {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--ltn__secondary-color);
    color: var(--white);
    padding: 3px 15px 0px;
    text-transform: uppercase;
    line-height: 25px;
}
.table-responsive {
    text-align: center;
}
.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 45%;
    margin-left: 50%;
    background: 
      radial-gradient(farthest-side,#ff5a3c 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#ff5a3c);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }