@import "../../scss/font.css";
@import "../../scss/variables.scss";
.area-div {
    .ar-title {
        padding: 2% 0 0 0;
        text-align: left;
        color: $blue;
        font-size: 38px;
        text-align: center;
        font-weight: 400;
        
    }
    .ar-card {
        border-radius: 0;
        --bs-card-spacer-y: 0.3rem !important;
        --bs-card-border-color: 0;
        img {
            border-radius: 0;
        }
        padding-bottom: 10px;
        @media only screen and (max-width: $mobile) {
            padding-bottom: 10px;
        }

        .ar-card-body {
            background-color: $white;
            border: none;            
            max-height: 100px;
            color: $blue;
            text-align: left;            
            .ar-card-title {
                font-family: $font_special1 !important;
                font-size: 22px;
                font-weight: 600;
                margin: 0 !important;
               
            }
            .ar-mapicon {
                color: red;
                padding: 5px;
            }
            
        }
    }
}