@import "../scss/font.css";
@import "../scss/variables.scss";

.footer {
    background-color: $blue;
    color: $white;
    width: 100%;
    text-align: left;
    font-family: $primary_font;
    font-weight: bold;
    font-size: 16px;
    padding: 50px 50px 10px 50px;

    //margin-top: 50px;
    p {
        font-weight: 400;
    }

    .menu,
    ul {
        text-align: left;
        list-style-type: none;
        font-weight: 400;
        margin-left: -8%;

        .menu-link,
        a {
            color: $white;
            text-decoration: none;
        }
    }

    .footer-separator {}

    .icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: $white;
        border-radius: 2px;
        font-size: 20px;
        color: $blue;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    .copy_write {
        text-align: center;
    }

}

.footer-colorline {
    padding-bottom: 10px;
    height: 1px;

    img {
        width: 100% !important;
        height: 3px;
    }
}