@import "font.css";
@import "variables.scss";

*,
html,
body {
    font-family: $primary_font;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.btn-primary {
    background-color: $blue !important;
    border-color: $blue !important;
    font-weight: 400 !important;
    border-radius: 0 !important;
}

.a-tag {
    text-decoration: none;
}

.separator {
    hr {
        width: 50%;
        border: 1px solid $color7;
        display: block;
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }
}

.react-multiple-carousel__arrow {
    background: $color7;
}

.form-control {
    border-radius: 0px !important;
    border: 1px solid $color7 !important;
}

.home-search-keyword {
    background-color: $blue;
    border-radius: 0px;
    a {
        color: $white;
        text-decoration: none;
        font-size: 22px;
    }
}