//
$primary_font:'Arimo', sans-serif;
$font_special1: 'Sofia Sans Semi Condensed',sans-serif;

$default_font : 'Roboto-Black.ttf';
//color
$color1:#F8A386;
$color2:#0DA7CB;
$color3:#CF7AB1;
$color4:#8AC64C;
$color5:#8757A1;
$color6:#E92B8F;
$color7:#F58634;
$color8:#1B5B76;

$orange: #F8A386;
$blue: #1B5B76;
$white: #ffffff;
$black: #000000;
$black2: #323232;

//screen size
$screen-sm: 640px;
$mobile: 767px;
$screen-md: 767px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1400px;
$screen-3xl: 1536px;
$screen-4xl: 1600px;

//font-weight
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;