//fonts
$font-base: "Plus Jakarta Sans Regular";
$font-base-bold: "Plus Jakarta Sans";
$font-secondary: "DM Serif";

//screen size
$screen-sm: 640px;
$mobile: 767px;
$screen-md: 767px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1400px;
$screen-3xl: 1536px;
$screen-4xl: 1600px;